@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #111111;
    --primary-text-color: #B0B0B0;
    --secondary-text-color: #6D6D6D;
    --accent-color: #4CAF50;
    --color-white: #FFFFFF;
    --dark-background-color: #0A0A0A;
    --color-ivory: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: inherit;
}