.headings{
    color: var(--accent-color);
    font-weight: 400;
}

.Holder {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 1rem;
}

.content {
    width: 100%;
    max-width: 28rem;
    background-color: var(--dark-background-color);
    padding: 1.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

.Form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.5rem;
}

.Form input {
    padding: 0.7rem 1rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--secondary-text-color);
    background-color: var(--color-ivory);
    color: var(--accent-color);
    font-size: 1rem;
}

.SubmitButton {
    padding: 0.7rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-size: 1.1rem;
}

.taskList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.ReturnHome{
    color: var(--secondary-text-color);
    font-weight: 400;
}

.ReturnHome:hover{
    color: var(--primary-text-color);
}