.Testimonials{
    width: 100%;
    background-color: var(--accent-color);
    height: 6rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.TestimonialsText{
    color: var(--color-ivory);
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
}